@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
.home {
    position: relative;
    height: 150vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .fullscreen-image-75 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .scrollable-content {
    padding: 1rem;
    height: 25vh; /* Remaining 25% of the viewport height */
    overflow-y: auto; 
  }
  
