@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120, 10%, 90%/* white */
    --foreground: 30 35% 15%;  /* Dark brown */

    --card: 0 0% 100%;/* white*/
    --card-foreground: 30 35% 15%; /* Dark brown */

    --popover: 120 100% 95%; /* Light green */
    --popover-foreground: 30 35% 15%; /* Dark brown */

    --primary: 120 60% 25%; /* Dark green */
    --primary-foreground: 30 35% 95%; /* Light brown */

    --secondary: 120 30% 70%; 
    --secondary-foreground: 120 60% 25%; /* Dark green */

    --muted: 30 35% 45%; /* Medium brown */
    --muted-foreground: 120 30% 70%; /* Light green */

   
    --accent-foreground: 120 60% 25%; /* Dark green */

    --destructive: 0 84.2% 60.2%; /* Red */
    --destructive-foreground: 30 35% 95%; /* Light brown */

    --border: 30 35% 75%; /* Light brown */
    --input: 30 35% 75%; /* Light brown */
    --ring: 120 60% 25%; /* Dark green */

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 35% 15%; /* Dark brown */
    --foreground: 120 100% 95%; /* Light green */

    --card: 30 35% 15%; /* Dark brown */
    --card-foreground: 120 100% 95%; /* Light green */

    --popover: 30 35% 15%; /* Dark brown */
    --popover-foreground: 120 100% 95%; /* Light green */

    --primary: 120 100% 95%; /* Light green */
    --primary-foreground: 30 35% 15%; /* Dark brown */

    --secondary: 30 35% 45%; /* Medium brown */
    --secondary-foreground: 120 100% 95%; /* Light green */

    --muted: 30 35% 45%; /* Medium brown */
    --muted-foreground: 120 30% 70%; /* Light green */

    --accent: 30 35% 45%; /* Medium brown */
    --accent-foreground: 120 100% 95%; /* Light green */

    --destructive: 0 62.8% 30.6%; /* Dark red */
    --destructive-foreground: 120 100% 95%; /* Light green */

    --border: 30 35% 45%; /* Medium brown */
    --input: 30 35% 45%; /* Medium brown */
    --ring: 30 35% 75%; /* Light brown */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
